/****************************** Global Styling ***************************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(220, 16%, 96%);
    font-family: 'Public Sans', sans-serif;
}

.btn {
    font-family: 'Public Sans', sans-serif;
    border: none;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(120deg, #13cf58 0%, #2daff0 100%);
    height: 40px;
    width: 40%;
    border-radius: 30px;
    font-size: 0.9rem;
    margin-bottom: 6em;
}

/****************************** Nav Styling ***************************/

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em;
}

/****************************** Hero Styling ***************************/

.hero-container {
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image {
    max-width: 100%;
}

.hero-image-bg {
    background: url("../src/assets/bg-intro-mobile.svg");
    background-size: cover;
    width: 100%;
    height: 5%;
}

.hero-container h1 {
    font-weight: 300;
    font-size: 2.6rem;
    color: hsl(233, 26%, 24%);
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.hero-container p {
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    text-align: center;
    padding: 0em 2em;
    margin: 0;
    line-height: 1.5;
    font-size: 0.9rem ;
    margin-bottom: 1.5em;
}