/****************************** Global Styling ***************************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(220, 16%, 96%);
    font-family: 'Public Sans', sans-serif;
}

.btn {
    font-family: 'Public Sans', sans-serif;
    border: none;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(120deg, #13cf58 0%, #2daff0 100%);
    height: 40px;
    width: 40%;
    border-radius: 30px;
    font-size: 0.9rem;
    margin-bottom: 6em;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/****************************** Nav Styling ***************************/

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em;
}

/****************************** Hero Styling ***************************/

.hero-container {
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image {
    max-width: 100%;
}

.hero-image-bg {
    background: url("../src/assets/bg-intro-mobile.svg");
    background-size: cover;
    width: 100%;
    height: 5%;
}

.hero-container h1 {
    font-weight: 300;
    font-size: 2.6rem;
    color: hsl(233, 26%, 24%);
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.hero-container p {
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    text-align: center;
    padding: 0em 2em;
    margin: 0;
    line-height: 1.5;
    font-size: 0.9rem ;
    margin-bottom: 1.5em;
}

/****************************** Features Styling ***************************/

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2.5em;
}

.features-card {
    text-align: center;
    margin-top: 1em;
}

.features-card h2 {
    font-weight: 300;
    font-size: 1.25rem;
    color: hsl(233, 26%, 24%);
}

.features-title {
    text-align: center;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 0;
}

.features-para {
    font-weight: 300;
    text-align: center;
    color: hsl(233, 8%, 62%);
    font-size: 0.9rem ;
    line-height: 1.5;
}

.features-title-para {
    font-weight: 300;
    text-align: center;
    color: hsl(233, 8%, 62%);
    font-size: 0.9rem ;
    line-height: 1.5;
    margin-bottom: 2em;
}

/****************************** Article Styling ***************************/

.articles-container {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1.75em;
    padding-bottom: 7em;
}

.articles-item {
    background-color: hsl(0, 0%, 100%);
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 0.45em;
    padding-bottom: 2.5em;
}

.articles-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 0.45em;
}

.articles-container h1 {
    font-weight: 300;
    font-size: 2rem;
    color: hsl(233, 26%, 24%);
    margin-top: 2.75em;
}

.articles-author {
    font-size: 0.7rem;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.articles-item h4 {
    font-weight: 300;
    font-size: 1.15rem;
    color: hsl(233, 26%, 24%);
    margin: 0;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-bottom: 0.5em;
}

.articles-para {
    font-size: 0.8rem;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    margin: 0;
    line-height: 1.5;
    padding-left: 2em;
    padding-right: 2em;
}

/****************************** Footer Styling ***************************/